

#minha-foto{
    height: 300px;
    float: left;
}

.image-container{
    height: 300px;
}

div{
    border: 2px solid green;
}

.meunome{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif';
    text-align: center;
}